.product-remove-from-cart {
    background-color: #e82a2a;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: .8rem .5rem;
    border-radius: .5rem;
    font-weight: 700;
  }

.product-remove-from-cart button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}