.product-remove-from-cart {
    background-color: #e82a2a;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: .8rem .5rem;
    font-size: .8rem;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 700;
  }